<p ng-show="ft.mensagem.length" class="alert alert-info">
    {{ft.mensagem}}
  </p>

<div class="page-header text-center">
    <h1>{{ft.foto.titulo}}</h1>
</div>

<form name="formulario" class="row" ng-submit="ft.enviar()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="ft.foto.titulo" name="titulo" class="form-control" required>    
            <span class="form-control alert-danger" ng-if="formulario.titulo.$error.required">
                Título obrigatório
            </span> 
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="ft.foto.url" name="url" class="form-control">
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model ="ft.foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
         <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-diretiva
    class="col-md-2"
    titulo="{{ft.foto.titulo}}"
    url="{{ft.foto.url}}"
  >
  
    </div>
</form>